body{
	font-size: 14pt;
	background-color: beige;
}

img{
	border-width:5px;
	border-style: solid;
	border-spacing: 5px;
	border-top-color: red;
	border-bottom-color: blue;
	border-right-color: green;
	border-left-color: yellow;
}

h1{
	text-align: center;
	font-family: helvetica;
	font-size: 300%;
}

#dog{
	text-align: center;
}

#index{
	font-size: 14pt;
	text-align: center;
}